In [3]:
import pandas as pd

#Load dataset
file_path = 'C:/Users/mjlri/Downloads/cleaned_case_study_gentoo.csv'
data = pd.read_csv(file_path)
data.head()


#Display the first few rows
data.head()

,id,date,campaign_name,category,campaign_id,impressions,mark_spent,clicks,leads,orders,revenue
0,1,2021-02-01,facebook_tier1,social,349043,148263,7307,1210,13,1,4981
1,2,2021-02-01,facebook_tier2,social,348934,220688,16300,1640,48,3,14962
2,3,2021-02-01,google_hot,search,89459845,22850,5222,457,9,1,7981
3,4,2021-02-01,google_wide,search,127823,147038,6037,1196,24,1,2114
4,5,2021-02-01,youtube_blogger,influencer,10934,225800,29962,2258,49,10,84490

In [4]:
#Information datset (column names, data types, non-null counts)
data.info()

# Check for missing values in each column
data.isnull().sum()

# Display basic statistics (mean, standard deviation, min, max) for numerical columns
data.describe()

# Display the first few rows of the dataset
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             616 non-null    int64
 1   date           616 non-null    object
 2   campaign_name  616 non-null    object
 3   category       616 non-null    object
 4   campaign_id    616 non-null    int64
 5   impressions    616 non-null    int64
 6   mark_spent     616 non-null    int64
 7   clicks         616 non-null    int64
 8   leads          616 non-null    int64
 9   orders         616 non-null    int64
 10  revenue        616 non-null    int64
dtypes: int64(8), object(3)
memory usage: 53.1+ KB

,id,date,campaign_name,category,campaign_id,impressions,mark_spent,clicks,leads,orders,revenue
0,1,2021-02-01,facebook_tier1,social,349043,148263,7307,1210,13,1,4981
1,2,2021-02-01,facebook_tier2,social,348934,220688,16300,1640,48,3,14962
2,3,2021-02-01,google_hot,search,89459845,22850,5222,457,9,1,7981
3,4,2021-02-01,google_wide,search,127823,147038,6037,1196,24,1,2114
4,5,2021-02-01,youtube_blogger,influencer,10934,225800,29962,2258,49,10,84490

In [5]:
#Create new calculated features: Return on Investment, Cost per lead and conversion rate

# Create ROI (Return on Investment) column
data['ROI'] = (data['revenue'] - data['mark_spent']) / data['mark_spent']

# Create Cost Per Lead column
data['cost_per_lead'] = data['mark_spent'] / data['leads']

# Create Conversion Rate column
data['conversion_rate'] = data['orders'] / data['clicks']

# Check the updated dataset
data.head()

,id,date,campaign_name,category,campaign_id,impressions,mark_spent,clicks,leads,orders,revenue,ROI,cost_per_lead,conversion_rate
0,1,2021-02-01,facebook_tier1,social,349043,148263,7307,1210,13,1,4981,-0.318325,562.076923,0.000826
1,2,2021-02-01,facebook_tier2,social,348934,220688,16300,1640,48,3,14962,-0.082086,339.583333,0.001829
2,3,2021-02-01,google_hot,search,89459845,22850,5222,457,9,1,7981,0.528342,580.222222,0.002188
3,4,2021-02-01,google_wide,search,127823,147038,6037,1196,24,1,2114,-0.649826,251.541667,0.000836
4,5,2021-02-01,youtube_blogger,influencer,10934,225800,29962,2258,49,10,84490,1.819905,611.469388,0.004429

In [8]:
#Save new dataset with new changes
data.to_csv('cleaned_case_study_gentoo_processed.csv', index=False)

In [9]:
#Fixing CSV file

# Load the CSV file
data = pd.read_csv('cleaned_case_study_gentoo_processed.csv')

# Check for any NaN values, data types, and a preview of the data
print(data.info())  # Overview of columns and types
print(data.head())  # Check the first few rows

# Check for any missing or null values
print(data.isnull().sum())

# Check for special characters or anomalies in the dataset
print(data.describe(include='all'))  # Provides summary for all columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               616 non-null    int64
 1   date             616 non-null    object
 2   campaign_name    616 non-null    object
 3   category         616 non-null    object
 4   campaign_id      616 non-null    int64
 5   impressions      616 non-null    int64
 6   mark_spent       616 non-null    int64
 7   clicks           616 non-null    int64
 8   leads            616 non-null    int64
 9   orders           616 non-null    int64
 10  revenue          616 non-null    int64
 11  ROI              616 non-null    float64
 12  cost_per_lead    616 non-null    float64
 13  conversion_rate  616 non-null    float64
dtypes: float64(3), int64(8), object(3)
memory usage: 67.5+ KB
None
   id        date    campaign_name    category  campaign_id  impressions  \
0   1  2021-02-01   facebook_tier1      social       349043       148263
1   2  2021-02-01   facebook_tier2      social       348934       220688
2   3  2021-02-01       google_hot      search     89459845        22850
3   4  2021-02-01      google_wide      search       127823       147038
4   5  2021-02-01  youtube_blogger  influencer        10934       225800

   mark_spent  clicks  leads  orders  revenue       ROI  cost_per_lead  \
0        7307    1210     13       1     4981 -0.318325     562.076923
1       16300    1640     48       3    14962 -0.082086     339.583333
2        5222     457      9       1     7981  0.528342     580.222222
3        6037    1196     24       1     2114 -0.649826     251.541667
4       29962    2258     49      10    84490  1.819905     611.469388

   conversion_rate
0         0.000826
1         0.001829
2         0.002188
3         0.000836
4         0.004429
id                 0
date               0
campaign_name      0
category           0
campaign_id        0
impressions        0
mark_spent         0
clicks             0
leads              0
orders             0
revenue            0
ROI                0
cost_per_lead      0
conversion_rate    0
dtype: int64
                id        date   campaign_name category   campaign_id  \
count   616.000000         616             616      616  6.160000e+02
unique         NaN          56              11        6           NaN
top            NaN  2021-02-01  facebook_tier1   social           NaN
freq           NaN          11              56      280           NaN
mean    308.500000         NaN             NaN      NaN  9.605628e+06
std     177.968162         NaN             NaN      NaN  2.540972e+07
min       1.000000         NaN             NaN      NaN  1.093400e+04
25%     154.750000         NaN             NaN      NaN  1.278230e+05
50%     308.500000         NaN             NaN      NaN  3.747540e+05
75%     462.250000         NaN             NaN      NaN  4.387490e+06
max     616.000000         NaN             NaN      NaN  8.945984e+07

         impressions     mark_spent        clicks        leads      orders  \
count   6.160000e+02     616.000000    616.000000   616.000000  616.000000
unique           NaN            NaN           NaN          NaN         NaN
top              NaN            NaN           NaN          NaN         NaN
freq             NaN            NaN           NaN          NaN         NaN
mean    5.159693e+06  100841.152597   9862.142857   216.201299   26.327922
std     2.660761e+07  147059.145440  12316.897261   306.896463   42.871822
min     6.670000e+02     166.000000     20.000000     0.000000    0.000000
25%     1.486612e+05    9499.750000   1354.250000    20.750000    3.000000
50%     6.084070e+05   36799.500000   4256.000000    84.000000    9.000000
75%     3.175225e+06  131620.500000  13752.000000   281.250000   30.000000
max     4.325801e+08  880357.000000  63612.000000  1742.000000  379.000000

             revenue         ROI  cost_per_lead  conversion_rate
count   6.160000e+02  616.000000     616.000000       616.000000
unique           NaN         NaN            NaN              NaN
top              NaN         NaN            NaN              NaN
freq             NaN         NaN            NaN              NaN
mean    1.407858e+05    0.407807            inf         0.002788
std     2.771423e+05    1.215323            NaN         0.001981
min     0.000000e+00   -1.000000      17.763399         0.000000
25%     8.666750e+03   -0.318843     366.846928         0.001287
50%     3.968650e+04    0.103266     497.781025         0.002570
75%     1.386532e+05    0.760224     652.685000         0.003760
max     2.812520e+06    5.774864            inf         0.015152

c:\Users\mjlri\miniconda3\envs\gentoo_pdf\Lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

In [10]:
#Clean the Data
# Fix typos or special characters in the campaign_name column
data['campaign_name'] = data['campaign_name'].str.replace(',', '_')

# Handling missing values by replacing them with 0 or another value
data.fillna(0, inplace=True)

# Convert numerical columns to the correct type
numerical_columns = ['impressions', 'clicks', 'leads', 'orders', 'revenue', 'ROI', 'cost_per_lead', 'conversion_rate']
data[numerical_columns] = data[numerical_columns].apply(pd.to_numeric, errors='coerce')

# Ensure no negative values for columns where it doesn't make sense (e.g., leads, orders)
data[numerical_columns] = data[numerical_columns].applymap(lambda x: x if x >= 0 else 0)

print(data.head())  # Recheck the cleaned dataset

   id        date    campaign_name    category  campaign_id  impressions  \
0   1  2021-02-01   facebook_tier1      social       349043       148263
1   2  2021-02-01   facebook_tier2      social       348934       220688
2   3  2021-02-01       google_hot      search     89459845        22850
3   4  2021-02-01      google_wide      search       127823       147038
4   5  2021-02-01  youtube_blogger  influencer        10934       225800

   mark_spent  clicks  leads  orders  revenue       ROI  cost_per_lead  \
0        7307    1210     13       1     4981  0.000000     562.076923
1       16300    1640     48       3    14962  0.000000     339.583333
2        5222     457      9       1     7981  0.528342     580.222222
3        6037    1196     24       1     2114  0.000000     251.541667
4       29962    2258     49      10    84490  1.819905     611.469388

   conversion_rate
0         0.000826
1         0.001829
2         0.002188
3         0.000836
4         0.004429

C:\Users\mjlri\AppData\Local\Temp\ipykernel_21344\3312634923.py:13: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data[numerical_columns] = data[numerical_columns].applymap(lambda x: x if x >= 0 else 0)