In [3]:
import pandas as pd

#Load dataset
file_path = 'C:/Users/mjlri/Downloads/cleaned_case_study_gentoo.csv'
data = pd.read_csv(file_path)
data.head()


#Display the first few rows
data.head()

,id,date,campaign_name,category,campaign_id,impressions,mark_spent,clicks,leads,orders,revenue
0,1,2021-02-01,facebook_tier1,social,349043,148263,7307,1210,13,1,4981
1,2,2021-02-01,facebook_tier2,social,348934,220688,16300,1640,48,3,14962
2,3,2021-02-01,google_hot,search,89459845,22850,5222,457,9,1,7981
3,4,2021-02-01,google_wide,search,127823,147038,6037,1196,24,1,2114
4,5,2021-02-01,youtube_blogger,influencer,10934,225800,29962,2258,49,10,84490

In [4]:
#Information datset (column names, data types, non-null counts)
data.info()

# Check for missing values in each column
data.isnull().sum()

# Display basic statistics (mean, standard deviation, min, max) for numerical columns
data.describe()

# Display the first few rows of the dataset
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             616 non-null    int64
 1   date           616 non-null    object
 2   campaign_name  616 non-null    object
 3   category       616 non-null    object
 4   campaign_id    616 non-null    int64
 5   impressions    616 non-null    int64
 6   mark_spent     616 non-null    int64
 7   clicks         616 non-null    int64
 8   leads          616 non-null    int64
 9   orders         616 non-null    int64
 10  revenue        616 non-null    int64
dtypes: int64(8), object(3)
memory usage: 53.1+ KB

,id,date,campaign_name,category,campaign_id,impressions,mark_spent,clicks,leads,orders,revenue
0,1,2021-02-01,facebook_tier1,social,349043,148263,7307,1210,13,1,4981
1,2,2021-02-01,facebook_tier2,social,348934,220688,16300,1640,48,3,14962
2,3,2021-02-01,google_hot,search,89459845,22850,5222,457,9,1,7981
3,4,2021-02-01,google_wide,search,127823,147038,6037,1196,24,1,2114
4,5,2021-02-01,youtube_blogger,influencer,10934,225800,29962,2258,49,10,84490

In [5]:
#Create new calculated features: Return on Investment, Cost per lead and conversion rate

# Create ROI (Return on Investment) column
data['ROI'] = (data['revenue'] - data['mark_spent']) / data['mark_spent']

# Create Cost Per Lead column
data['cost_per_lead'] = data['mark_spent'] / data['leads']

# Create Conversion Rate column
data['conversion_rate'] = data['orders'] / data['clicks']

# Check the updated dataset
data.head()

,id,date,campaign_name,category,campaign_id,impressions,mark_spent,clicks,leads,orders,revenue,ROI,cost_per_lead,conversion_rate
0,1,2021-02-01,facebook_tier1,social,349043,148263,7307,1210,13,1,4981,-0.318325,562.076923,0.000826
1,2,2021-02-01,facebook_tier2,social,348934,220688,16300,1640,48,3,14962,-0.082086,339.583333,0.001829
2,3,2021-02-01,google_hot,search,89459845,22850,5222,457,9,1,7981,0.528342,580.222222,0.002188
3,4,2021-02-01,google_wide,search,127823,147038,6037,1196,24,1,2114,-0.649826,251.541667,0.000836
4,5,2021-02-01,youtube_blogger,influencer,10934,225800,29962,2258,49,10,84490,1.819905,611.469388,0.004429

In [8]:
#Save new dataset with new changes
data.to_csv('cleaned_case_study_gentoo_processed.csv', index=False)