In [3]:
import pandas as pd

#Load dataset
file_path = 'C:/Users/mjlri/Downloads/cleaned_case_study_gentoo.csv'
data = pd.read_csv(file_path)
data.head()


#Display the first few rows
data.head()

,id,date,campaign_name,category,campaign_id,impressions,mark_spent,clicks,leads,orders,revenue
0,1,2021-02-01,facebook_tier1,social,349043,148263,7307,1210,13,1,4981
1,2,2021-02-01,facebook_tier2,social,348934,220688,16300,1640,48,3,14962
2,3,2021-02-01,google_hot,search,89459845,22850,5222,457,9,1,7981
3,4,2021-02-01,google_wide,search,127823,147038,6037,1196,24,1,2114
4,5,2021-02-01,youtube_blogger,influencer,10934,225800,29962,2258,49,10,84490

In [ ]:
Basic exploration